body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Rotobo', sans-serif;
    max-width: 1440px;
    margin: auto;
    display: flex;
    

 
    
   
}
section{
    max-width: 1440px;
}

.fa-heart{
    font-size: 24px;
    justify-content: space-between;
}
    
h4{
   
    margin: 10px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}