body
{
    flex-direction: column;
    position: relative;
}

.main-img{
    position: absolute;
    width: 100%;
    margin: 0;
   
    
   
     img{
         
         object-fit: cover;
         width: 100%;
        height: 250px;
         

     }

}
.menu{
    position: relative;
    margin-top: 210px;
    background-color: $background; 
    width: 100%;
    border-radius: 35px 35px 0 0;   
}
.title-menu{
    width: 100%;
    display: flex;
    padding: 10px 0;
    font-size: 18px;
    align-items: center; 
    justify-content: space-between;
    .heart {
        padding-right: 25px;
    }
       h1{
        font-family: 'Shrikhand', cursive;
        font-weight: 10; 
        padding-left: 15px;
       
         
          
        
       }
      
}

.card{
   padding-bottom: 15px;
    .title-card{
        padding-left: 15px;
        font-size: 14px;
        
          h2{
            font-weight: initial;
          }
     }
}
 .container{
     position: relative;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 15px;
     background-color: white;
     border-radius: 25px;
        .data-container{
            padding-left: 15px;
            h3{
                margin: 15px 0px 0px 0px;
            }
        }
        
        
    }  
    .heart{
        &:hover{
            .fa-heart{
                @include heart;
            }
        }
       
   }
    p{
        margin: 5px 0px 15px 0;
        padding: 5px 0;
    }
.input-command{
    display: flex;
    justify-content: center;
        .input-explore{
            padding: 15px 50px;
        }
}
