@keyframes spiner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinererverse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes fond {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes animation-card {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
header {
  width: 100%;
  padding: 20px 0;
  position: relative;
  box-shadow: 0px 2px 0px #bdbdbd;
}

.logo-back {
  position: absolute;
  left: 10px;
  font-size: 20px;
}
.logo-back a {
  color: black;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 180px;
}
.logo img i {
  padding-right: 10px;
}

.research {
  width: 100%;
  background-color: #e9e6e6;
  padding: 10px 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.research .section-research {
  display: flex;
  align-items: center;
}
.research .section-research .fas {
  padding-left: 70px;
}
.research .input-research {
  height: 40px;
  border: none;
  background-color: #e9e6e6;
  font-weight: bold;
  padding-left: 20px;
  font-size: 16px;
}

.reservation {
  background-color: #f8f5f5;
  padding: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: center;
}
.reservation h1 {
  margin: auto;
  font-size: 25px;
  font-weight: bold;
}
.reservation p {
  font-size: 18px;
  color: grey;
}

.input-explore {
  padding: 15px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  box-shadow: #a5a5a5 0 5px 10px;
  margin: 15px 0 30px 0;
}

.input-explore:hover {
  cursor: pointer;
  opacity: 0.8;
  box-shadow: #a5a5a5 0 5px 10px;
}

.fonction {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.fonction ul {
  list-style-type: none;
  padding: 15px 5px;
  width: 320px;
}
.fonction ul h2 {
  padding: 15px 25px;
}
.fonction ul li {
  background-color: #f8f5f5;
  border-radius: 15px;
  padding: 10px 0;
  margin-top: 0;
  margin-bottom: 25px;
  box-shadow: #a5a5a5 0 5px 10px;
}
.fonction ul li:hover {
  transition: 1s;
  background-color: #ecddff;
}
.fonction ul li:hover .fas {
  color: #9356dc;
}
.fonction ul li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  font-size: 16px;
  font-weight: bold;
}
.fonction ul li a p {
  margin-bottom: 5px;
}
.fonction ul li a span {
  padding: 5px 10px;
  border-radius: 100%;
  font-size: 14px;
  background-color: #9356dc;
  color: white;
  margin-left: -15px;
}

.fas {
  padding: 0 20px;
}

.selection {
  width: 100%;
  background-color: #f8f5f5;
  padding-bottom: 50px;
}
.selection h2 {
  padding-left: 20px;
}

.container1 {
  width: 90%;
  position: relative;
  margin: 20px 20px 0px 20px;
  background-color: white;
  border-radius: 25px;
  box-shadow: #a5a5a5 0 5px 10px;
}
.container1 a {
  text-decoration: none;
  color: black;
  width: 100%;
}
.container1 a h3 {
  margin: 0px;
}
.container1 img {
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  width: 100%;
  height: 180px;
}

.news {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  padding: 7px 10px;
  color: #239679;
  font-weight: bold;
  border-radius: 5px;
}

.data-container1 {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.data-container1 .heart {
  padding-right: 15px;
}
.data-container1 .heart p {
  margin: 0;
  padding: 5px 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Rotobo", sans-serif;
  max-width: 1440px;
  margin: auto;
  display: flex;
}

section {
  max-width: 1440px;
}

.fa-heart {
  font-size: 24px;
  justify-content: space-between;
}

h4 {
  margin: 10px 0 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.end {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #3a3a3a;
  max-width: 1440px;
}
.end h2 {
  padding: 0 25px;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 0;
}

.liste-footer {
  display: flex;
}
.liste-footer ul {
  padding: 0px 25px;
}
.liste-footer ul li {
  list-style: none;
  padding-bottom: 10px;
  font-weight: bold;
}
.liste-footer ul li a {
  text-decoration: none;
  color: white;
}
.liste-footer ul li .fas {
  padding: 0 15px 0 0;
  width: 15px;
}

body {
  flex-direction: column;
  position: relative;
}

.main-img {
  position: absolute;
  width: 100%;
  margin: 0;
}
.main-img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.menu {
  position: relative;
  margin-top: 210px;
  background-color: #f8f5f5;
  width: 100%;
  border-radius: 35px 35px 0 0;
}

.title-menu {
  width: 100%;
  display: flex;
  padding: 10px 0;
  font-size: 18px;
  align-items: center;
  justify-content: space-between;
}
.title-menu .heart {
  padding-right: 25px;
}
.title-menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 10;
  padding-left: 15px;
}

.card {
  padding-bottom: 15px;
}
.card .title-card {
  padding-left: 15px;
  font-size: 14px;
}
.card .title-card h2 {
  font-weight: initial;
}

.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  background-color: white;
  border-radius: 25px;
}
.container .data-container {
  padding-left: 15px;
}
.container .data-container h3 {
  margin: 15px 0px 0px 0px;
}

.heart:hover .fa-heart {
  font-size: 24px;
  color: black;
  display: block;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  cursor: pointer;
  transition: all 1s;
}

p {
  margin: 5px 0px 15px 0;
  padding: 5px 0;
}

.input-command {
  display: flex;
  justify-content: center;
}
.input-command .input-explore {
  padding: 15px 50px;
}

.main-img {
  position: relative;
  width: 100%;
  margin: 0;
}
.main-img img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.menu {
  margin-top: -65px;
  background-color: #f8f5f5;
  width: 100%;
  border-radius: 35px 35px 0 0;
}

.title-menu {
  display: flex;
  padding: 10px 0px;
  font-size: 18px;
}
.title-menu h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 10;
}
.title-menu .heart:hover .fa-heart {
  font-size: 24px;
  color: black;
  display: block;
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  cursor: pointer;
  transition: all 1s;
}

.title-card {
  padding: 0px 25px;
  width: 100px;
}
.title-card h3 {
  position: relative;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
}
.title-card h3::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #99e2d0;
  position: absolute;
  bottom: 0;
  left: 10px;
}

.container {
  visibility: hidden;
  margin: 15px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: #b9b9b9 0 2px 6px;
  animation: animation-card 1000ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.container--1 {
  animation-delay: 250ms;
}
.container--2 {
  animation-delay: 500ms;
}
.container--3 {
  animation-delay: 750ms;
}
.container--4 {
  animation-delay: 1000ms;
}
.container:hover .check {
  margin-right: 0;
  transition: all 0.3s ease-in-out;
}
.container:hover .check i {
  animation: rotatecircle 0.5s ease-in-out;
}
@keyframes rotatecircle {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.container .data-container {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 15px;
}
.container .data-container p {
  margin: 5px 0px 5px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.prix {
  display: flex;
  border-radius: 0 25px 25px 0;
  align-items: flex-end;
  margin-left: auto;
  padding: 10px 25px;
  font-weight: bold;
}

.check {
  bottom: 35px;
  padding: 0px;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin-right: -65px;
  color: white;
}

.input-command {
  display: flex;
  justify-content: center;
}

.body-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ff79da, #9356dc);
  opacity: 1;
  animation: fond 0.1s ease-out;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 40px;
}

.loader {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  position: relative;
}

.loader-spiner {
  border: 4px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  border-radius: 50px;
  animation: spiner 1s linear infinite;
  opacity: 0.6;
}

.loader-spiner::after {
  content: "";
  position: absolute;
  top: 6px;
  bottom: 5px;
  right: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  border-radius: 50px;
  animation: spinererverse 2s linear infinite;
}

@media (min-width: 992px) {
  .fonction {
    display: flex;
  }
  .fonction ul {
    display: flex;
    width: 100%;
    margin-right: 10px;
    justify-content: space-between;
  }
  .fonction ul li {
    width: 30%;
  }
  .fonction ul li a {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .selection h2 {
    width: 100%;
  }
  .selection .container1 {
    width: 40%;
  }
  .selection .container1 a {
    width: 100%;
  }
  .selection .container1 a img {
    width: 100%;
  }

  .menu .all-card {
    display: flex;
    justify-content: space-between;
  }
  .menu .all-card .card {
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/*# sourceMappingURL=styles.css.map */
